<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.paincupid.springmvc.test.persistence.PersonMapper" >
	
	<select id="listPerson" resultType="com.paincupid.springmvc.test.domain.Person" parameterType="com.paincupid.springmvc.test.domain.Person">
		select t.cpsCode id,t.cpsName name from B_PERSON t
	</select>
	
</mapper>
